:root {
  --primary-color: #52b56b;
  --secondary-color: #3f85ca;
  --third-color: #ecebf3;
  --white-color: #fff;
  --black-color: #000;
  --b-radius: 4px;
  --btn-shadow: 0 1px 4px rgb(26 26 67 / 10%);
}

.avatar {
  border-radius: 50%;
}

.cover-image {
  border-radius: 6px;
}

.blog-post-card-image {
  width: 100%;
  height: 192px;
}
/* 
.hero-image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
} */

.b-1 {
  border: 1px solid red;
}

.b-2 {
  border: 1px solid green;
}

.b-3 {
  border: 1px solid cyan;
}

.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hero-container img {
  width: 50%;
}

/*ACADEMY PATH */
.path-btn {
  color: var(--white-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 8px 12px;
  width: 25%;
  background-color: var(--primary-color);
}

.path-container {
  background-color: var(--third-color);
  border-radius: 8px 8px 0 0;
  padding: 2rem 1.2rem;
  color: var(--black-color);
}

/* FREE TRIAL */
.free-trial-container {
  text-align: center;
  color: var(--black-color);
}

.free-trial-container p {
  margin-bottom: 2rem;
}

.free-trial-container a {
  padding: 8px 2rem;
}

/* HOW DOES IT WORK */
.hdw-container {
  color: var(--black-color);
}

.hdw-content {
  position: relative;
}

.skew-container {
  position: sticky;
  top: 20%;
  z-index: 10%;
}

.secondary-img {
  position: absolute;
  width: 32%;
  z-index: 15;
  top: 7rem;
  left: 9.5rem;
  box-shadow: 0 5px 28px -4px rgb(0 0 0 / 10%);
  border-radius: var(--b-radius);
}

.hwd-description {
  width: 50%;
  padding: 10rem 4rem 10rem 0;
}

.first-content {
  padding: 0rem 4rem;
  position: absolute;
  top: 10px;
  right: 0;
}

.left-description {
  padding-right: 4rem;
  border: 1px solid black;
}

.right-description {
  padding-left: 4rem;
  border: 1px solid black;
}

/* UTILS */
.anchor-link {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: var(--b-radius);
  box-shadow: var(--btn-shadow);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .hero-container {
    margin-top: 2rem !important;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .hero-container img {
    width: 70%;
    margin-bottom: 1rem;
  }
}
